Importing Dependencies

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/processed/telco_data_binned.csv")

In [3]:
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned
0,France,Female,42.0,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.0,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,37.0,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0,Excellent

Using Ordinal Features

Using Nominal Features

In [4]:
nominal_variables = ['Geography', 'Gender'] 

geogrophical_dummies = pd.get_dummies(df['Geography'], prefix='Geography')
gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')

df_encoded = pd.concat([df, geogrophical_dummies], axis=1)
del df_encoded['Geography']

df_encoded = pd.concat([df_encoded, gender_dummies], axis=1)
del df_encoded['Gender']

df_encoded.sample(7)

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
4082,29.0,6,150358.97,1,1,0,62454.01,1,Very Good,False,True,False,True,False
5628,44.0,3,105206.70,2,1,1,163558.36,0,Good,False,True,False,True,False
1834,46.0,5,56580.95,2,0,1,45424.13,0,Good,False,False,True,True,False
5634,38.0,2,0.00,2,0,0,3524.69,0,Very Good,True,False,False,True,False
4673,33.0,2,0.00,1,1,0,96420.58,0,Fair,True,False,False,False,True
451,40.0,9,0.00,2,0,1,119232.33,0,Excellent,True,False,False,False,True
8104,31.0,6,117852.26,2,1,0,147668.64,0,Very Good,True,False,False,True,False

In [5]:
encode_dict_credit_score = {
    'Poor': 0,
    'Fair': 1,
    'Good': 2,
    'Very Good': 3,
    'Excellent': 4
}

df_encoded['CreditScore_Binned'] = df_encoded['CreditScore_Binned'].map(encode_dict_credit_score)

df_encoded.head()

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.0,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.0,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.0,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,37.0,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.0,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False

14