Importing Dependencies

In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("../data/processed/telco_data_binned.csv")

In [3]:
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned
0,France,Female,42.0,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,42.0,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,37.0,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0,Excellent

Using Ordinal Features

Using Nominal Features

In [4]:
nominal_variables = ['Geography', 'Gender'] 

geogrophical_dummies = pd.get_dummies(df['Geography'], prefix='Geography')
gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')

df_encoded = pd.concat([df, geogrophical_dummies], axis=1)
del df_encoded['Geography']

df_encoded = pd.concat([df_encoded, gender_dummies], axis=1)
del df_encoded['Gender']

df_encoded.sample(7)

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
5806,47.0,1,106758.60,1,1,1,80591.18,0,Good,False,False,True,False,True
5532,33.0,9,0.00,2,1,1,142956.48,0,Good,True,False,False,False,True
2546,50.0,1,0.00,3,1,1,191849.15,1,Fair,True,False,False,False,True
6580,30.0,6,126663.51,1,1,1,162267.91,0,Poor,False,True,False,True,False
9162,63.0,7,104469.58,1,1,1,25165.36,1,Fair,False,True,False,False,True
5164,36.0,4,0.00,2,1,1,195224.91,0,Fair,True,False,False,False,True
3703,40.0,5,149131.03,3,1,1,60036.99,1,Good,False,True,False,False,True

In [ ]:
encode_dict_credit_score = {
    'Poor': 0,
    'Fair': 1,
    'Good': 2,
    'Very Good': 3,
    'Excellent': 4
}

df_encoded['CreditScore_Binned'] = df_encoded['CreditScore_Binned'].map(encode_dict_credit_score)

df_encoded.head()

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.0,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.0,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.0,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,37.0,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.0,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False

In [6]:
df_encoded.to_csv("../data/processed/telco_data_encoded.csv", index=False)

In [ ]:
columns_to_scale = ['Age', 'Tenure', 'Balance', 'EstimatedSalary']

for col in columns