Importing Dependencies

In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

Basic Processing

In [2]:
df = pd.read_csv("../data/processed/telco_data_encoded.csv")

In [3]:
df.head()

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.0,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.0,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.0,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,37.0,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.0,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False

In [4]:
df.Age.min(), df.Age.max()

(np.float64(18.0), np.float64(92.0))

In [6]:
columns_to_scale = ['Age', 'Tenure', 'Balance', 'EstimatedSalary']

for col in columns_to_scale:
    scaler = StandardScaler()
    df[col] = scaler.fit_transform(df[[col]])
    
df.head()

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.313916,-1.041760,-1.225848,1,1,1,0.021886,1,1,True,False,False,True,False
1,0.215897,-1.387538,0.117350,1,0,1,0.216534,0,1,False,False,True,True,False
2,0.313916,1.032908,1.333053,3,1,0,0.240687,1,0,True,False,False,True,False
3,-0.176180,-1.387538,-1.225848,2,0,0,-0.108918,0,2,True,False,False,True,False
4,0.411935,-1.041760,0.785728,1,1,1,-0.365276,0,4,False,False,True,True,False

In [7]:
df.to_csv("../data/processed/telco_data_final.csv", index=False)